In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/02 Household Power Consumption.txt',sep=";")
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185711 entries, 0 to 185710
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Date                   185711 non-null  object
 1   Time                   185711 non-null  object
 2   Global_active_power    185711 non-null  object
 3   Global_reactive_power  185711 non-null  object
 4   Voltage                185711 non-null  object
 5   Global_intensity       185711 non-null  object
 6   Sub_metering_1         185711 non-null  object
 7   Sub_metering_2         185711 non-null  object
 8   Sub_metering_3         185702 non-null  float64
dtypes: float64(1), object(8)
memory usage: 12.8+ MB

In [4]:
df.isnull().sum()   # Count the number of null values

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           9
dtype: int64

In [5]:
df.isnull().any(axis = 1).sum()

9

In [7]:
# mark all missing values
df.replace('?', np.nan, inplace=True)
df.replace('', np.nan, inplace=True)
df.replace(' ', np.nan, inplace=True)
df.replace('  ', np.nan, inplace=True)
df.replace('   ', np.nan, inplace=True)

In [8]:
df.isnull().sum()

Date                      0
Time                      0
Global_active_power      10
Global_reactive_power     9
Voltage                  10
Global_intensity         11
Sub_metering_1            9
Sub_metering_2            9
Sub_metering_3            9
dtype: int64

In [10]:
dataset2 = df[df.isna().any(axis=1)]
print(dataset2)

              Date      Time Global_active_power Global_reactive_power  \
6       16/12/2006  17:30:00               3.702                 0.520
6839    21/12/2006  11:23:00                 NaN                   NaN
6840    21/12/2006  11:24:00                 NaN                   NaN
19724   30/12/2006  10:08:00                 NaN                   NaN
19725   30/12/2006  10:09:00                 NaN                   NaN
41832    14/1/2007  18:36:00                 NaN                   NaN
61909    28/1/2007  17:13:00                 NaN                   NaN
98041    22/2/2007  19:25:00               4.300                 0.222
98254    22/2/2007  22:58:00                 NaN                   NaN
98255    22/2/2007  22:59:00                 NaN                   NaN
131276   17/3/2007  21:20:00                 NaN                 0.114
142588   25/3/2007  17:52:00                 NaN                   NaN
185694   24/4/2007  16:18:00               0.436                 0.198

        Voltage Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
6       235.090              NaN          0.000          1.000            17.0
6839        NaN              NaN            NaN            NaN             NaN
6840        NaN              NaN            NaN            NaN             NaN
19724       NaN              NaN            NaN            NaN             NaN
19725       NaN              NaN            NaN            NaN             NaN
41832       NaN              NaN            NaN            NaN             NaN
61909       NaN              NaN            NaN            NaN             NaN
98041   230.390              NaN          0.000          0.000            17.0
98254       NaN              NaN            NaN            NaN             NaN
98255       NaN              NaN            NaN            NaN             NaN
131276  237.710           15.600          0.000          0.000            18.0
142588      NaN              NaN            NaN            NaN             NaN
185694      NaN            2.200          0.000          1.000             0.0

In [11]:
# make dataset numeric
df['Global_active_power'] = [float(x) for x in df['Global_active_power']]
df['Global_reactive_power'] = [float(x) for x in df['Global_reactive_power']]
df['Voltage'] = [float(x) for x in df['Voltage']]
df['Global_intensity'] = [float(x) for x in df['Global_intensity']]
df['Sub_metering_1'] = [float(x) for x in df['Sub_metering_1']]
df['Sub_metering_2'] = [float(x) for x in df['Sub_metering_2']]
df['Sub_metering_3'] = [float(x) for x in df['Sub_metering_3']]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185711 entries, 0 to 185710
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Date                   185711 non-null  object
 1   Time                   185711 non-null  object
 2   Global_active_power    185701 non-null  float64
 3   Global_reactive_power  185702 non-null  float64
 4   Voltage                185701 non-null  float64
 5   Global_intensity       185700 non-null  float64
 6   Sub_metering_1         185702 non-null  float64
 7   Sub_metering_2         185702 non-null  float64
 8   Sub_metering_3         185702 non-null  float64
dtypes: float64(7), object(2)
memory usage: 12.8+ MB

In [13]:
df.describe()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
count,185701.000000,185702.000000,185701.000000,185700.000000,185702.000000,185702.000000,185702.000000
mean,1.382547,0.121663,240.641969,5.852523,1.232561,1.783675,6.553521
std,1.293269,0.112606,3.168499,5.456051,6.498750,7.163004,8.469009
min,0.104000,0.000000,223.490000,0.600000,0.000000,0.000000,0.000000
25%,0.318000,0.000000,238.700000,1.400000,0.000000,0.000000,0.000000
50%,1.218000,0.106000,240.820000,5.200000,0.000000,0.000000,0.000000
75%,2.062000,0.190000,242.770000,8.600000,0.000000,1.000000,17.000000
max,10.670000,0.874000,251.700000,46.400000,77.000000,78.000000,20.000000

In [14]:
df['Date'].describe()

count        185711
unique          131
top       18/2/2007
freq           1440
Name: Date, dtype: object

In [15]:
df['Date'].value_counts()

18/2/2007     1440
22/4/2007     1440
19/3/2007     1440
18/3/2007     1440
17/3/2007     1440
              ...
21/4/2007     1440
20/1/2007     1439
24/4/2007      995
16/12/2006     396
8                1
Name: Date, Length: 131, dtype: int64

In [16]:
df['Time'].describe()

count       185711
unique        1440
top       17:24:00
freq           129
Name: Time, dtype: object

In [18]:
df['Time'].value_counts()

17:24:00    129
08:49:00    129
08:57:00    129
08:56:00    129
08:55:00    129
           ...
16:53:00    128
16:54:00    128
16:55:00    128
16:56:00    128
17:23:00    128
Name: Time, Length: 1440, dtype: int64

In [20]:
df.corr().style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'))